.ferncombe {

/* ----------------------------------------- */
/*  General                                  */
/* ----------------------------------------- */

  /** Fix Journal Width */
  &.journal-entry {
    max-width: 960px;
    min-width: 960px;
  }

  // Hide journal headers (Disable if you want to rename them for dev)
  form.journal-header {
    display: none;
  }

/* ----------------------------------------- */
/*  ToC                                      */
/* ----------------------------------------- */

  aside.sidebar.directory ol.directory-list.scrollable {
    // Change the active page highlighting from the red bars to a pointer
    .active {
      .page-number::before {
        content: '⮚';
        color: white;
        visibility: visible;
        width: inherit;
        display: block;
        position: absolute;
      }
    }
    .active + .active {
      span.page-number {
        background-image: unset;
      }
    }
    li.directory-item {
      font-family: var(--body-font);
      border: unset;
      // Hide page subheadings
      ol.headings {
        display: none;}
    }
  }
  // Rules to apply only if the sidebar is expanded
  aside.sidebar.directory:not(.collapsed) ol.directory-list.scrollable li.directory-item {
    // Hide page numbers
    span.page-number {
      visibility: hidden;
    }
    // Create page dividers above all level 1 headers
    &:not(:first-child) {
      &.level1 {
        border-top: 2px solid;
        border-image: linear-gradient(to right, transparent 10%, #ffffff70, transparent 90%) 1;        padding-top: 6px;
        margin-top: 6px;
      }
    }
  }

/* ----------------------------------------- */
/*  Journal Contents                         */
/* ----------------------------------------- */

  .journal-entry-pages {
    margin-top: 1rem;
    .scrollable {
      padding-right: 1rem;
      .journal-page-content {
        font-family: var(--body-font);
        font-size: var(--body-size);
        line-height: 1rem;
        text-align: justify;
      }
    }
    a {
      color: black;
      font-family: var(--body-i);
      &:hover {
        color: var(--manor-red-light);
      }
    }
  }

  /* Restyle Content Links */
  a.content-link, a.inline-roll {
    border: none; //reset border settings
    background: unset; //clear background
    padding: 0 4px;
    border-bottom: 1px solid var(--ferncombe-green);
    border-radius: 2px;
    white-space: nowrap;
    word-break: break-all;
    font-family: var(--body-i);
  }
}