/**
Initial LESS entry point from which all other LESS will be called
 */
/**
Import declarations
 */
/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */
@font-face {
  font-family: 'Felix Titling';
  src: url('../styles/fonts/felix-titling.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Imprint Shadow MT';
  src: url('../styles/fonts/imprint-shadow-mt.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Sabon LT";
  src: url("../styles/fonts/sabon-lt-std.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Sabon LT Bold";
  src: url("../styles/fonts/sabon-lt-std.woff2") format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Sabon LT Italic";
  src: url("../styles/fonts/sabon-lt-std-italic.woff2") format('woff2');
  font-style: italic;
}
@font-face {
  font-family: "Great Vibes";
  src: url("../styles/fonts/great-vibes-regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Adine Kirnberg";
  src: url("../styles/fonts/adine-kirnberg.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}
/* ----------------------------------------- */
/*  Variable Definitions                     */
/* ----------------------------------------- */
.ferncombe {
  --body-font: "Sabon LT", sans-serif;
  --body-b: "Sabon LT Bold", sans-serif;
  --body-i: "Sabon LT Italic", sans-serif;
  --h1-font: "Imprint Shadow MT", sans-serif;
  --h2-font: "Felix Titling", sans-serif;
  --h3-font: "Felix Titling", sans-serif;
  --h4-font: "Felix Titling", sans-serif;
  --body-size: var(--font-size-14);
  --h1-size: var(--font-size-28);
  --h2-size: var(--font-size-24);
  --h3-size: var(--font-size-20);
  --h4-size: var(--font-size-18);
  --color-text-dark-primary: #000000;
  --manor-black: #1a0a00;
  --manor-ink: #420000;
  --manor-parchment: rgba(255, 156, 0, 0.06);
  --manor-parchment-shade: rgba(68, 0, 255, 0.1);
  --manor-parchment-fey: rgba(255, 119, 0, 0.1);
  --manor-green: rgba(136, 160, 108, 0.8);
  --manor-green-light: rgba(163, 169, 138, 0.8);
  --manor-green-dark: rgba(101, 111, 57, 0.8);
  --manor-green-darkest: #373c1e;
  --manor-red: rgba(103, 20, 23, 0.8);
  --manor-red-light: rgba(160, 47, 57, 0.8);
  --manor-red-dark: rgba(80, 44, 42, 0.8);
  --manor-red-dark-solid: #6c4e4c;
  --manor-wine: rgba(86, 56, 69, 0.8);
  --manor-wine-light: rgba(118, 102, 121, 0.8);
  --manor-wine-dark: rgba(118, 102, 121, 0.8);
  --manor-purple: #67006d;
  --manor-purple-light: #6a00ac;
  --manor-purple-dark: #3c0040;
  --manor-gold: #866900;
  --manor-gold-light: #bf8700;
  --manor-gold-dark: #6a4500;
  --manor-orange: #a35600;
  --manor-yellow: #d4a500;
  --manor-blue-light: #b6bac3;
  --manor-blue-medium: #555c6c;
  --manor-blue-dark: #1f2226;
}
/* TODO: set up adventure importer with its own CSS class and remap the styles to extend to that class instead. */
.ferncombe section.window-content,
.adventure-importer {
  /** Bordered Headers */
  /** This is an ugly core override */
  /** Dynamic Lists used for conversations **/
  /** specific to adventure importer **/
  /** Tables */
  /** Approval Change Button */
}
.ferncombe section.window-content h1,
.adventure-importer h1 {
  font-family: var(--h1-font);
  font-size: var(--h1-size);
}
.ferncombe section.window-content h2,
.adventure-importer h2 {
  font-size: var(--h2-size);
  font-family: var(--h2-font);
  font-weight: bold;
}
.ferncombe section.window-content h3,
.adventure-importer h3 {
  font-size: var(--h3-size);
  font-family: var(--h3-font);
  font-weight: bold;
  border: unset;
}
.ferncombe section.window-content h4,
.adventure-importer h4,
h4 .ferncombe section.window-content:not(.window-title),
h4 .adventure-importer:not(.window-title) {
  font-family: var(--h4-font);
  font-size: var(--h4-size);
  font-weight: bold;
}
.ferncombe section.window-content h2.border,
.adventure-importer h2.border,
.ferncombe section.window-content h3.border,
.adventure-importer h3.border {
  border: none;
  display: flex;
  clear: both;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  color: var(--manor-red-dark);
}
.ferncombe section.window-content h2.border::before,
.adventure-importer h2.border::before,
.ferncombe section.window-content h3.border::before,
.adventure-importer h3.border::before {
  content: "";
  width: 50%;
  margin-right: 1rem;
  border-color: var(--manor-red-dark);
}
.ferncombe section.window-content h2.border::after,
.adventure-importer h2.border::after,
.ferncombe section.window-content h3.border::after,
.adventure-importer h3.border::after {
  content: "";
  width: 50%;
  margin-left: 1rem;
  border-color: var(--manor-red-dark);
}
.ferncombe section.window-content h2.border,
.adventure-importer h2.border {
  margin-top: 2rem;
}
.ferncombe section.window-content h2.border::before,
.adventure-importer h2.border::before {
  border-top: 6px double ;
}
.ferncombe section.window-content h2.border::after,
.adventure-importer h2.border::after {
  border-top: 6px double;
}
.ferncombe section.window-content h3.border,
.adventure-importer h3.border {
  margin-top: 1rem;
}
.ferncombe section.window-content h3.border::before,
.adventure-importer h3.border::before {
  border-top: 4px dotted;
}
.ferncombe section.window-content h3.border::after,
.adventure-importer h3.border::after {
  border-top: 4px dotted;
}
.ferncombe section.window-content .journal-entry-page :is(h1, h2):not(:first-child),
.adventure-importer .journal-entry-page :is(h1, h2):not(:first-child) {
  margin-top: 2rem;
}
.ferncombe section.window-content p,
.adventure-importer p {
  margin: 1rem 0;
}
.ferncombe section.window-content p.important,
.adventure-importer p.important {
  text-align: center;
  font-weight: bold;
  font-size: var(--body-size);
  line-height: 1rem;
}
.ferncombe section.window-content dl dt,
.adventure-importer dl dt {
  font-family: var(--h4-font);
  font-weight: bold;
  font-size: var(--font-size-16);
}
.ferncombe section.window-content dl dd,
.adventure-importer dl dd {
  font-family: var(--body-i);
  padding: 0 2rem;
  background: linear-gradient(90deg, transparent, rgba(175, 128, 39, 0.1) 5% 95%, transparent);
  border-radius: 1.5rem;
  margin: 1rem;
  border-left: 2px solid var(--manor-red-dark-solid);
  border-right: 2px solid var(--manor-red-dark-solid);
}
.ferncombe section.window-content .adventure-overview p,
.adventure-importer .adventure-overview p {
  font-family: var(--body-font);
}
.ferncombe section.window-content table,
.adventure-importer table {
  table-layout: fixed;
}
.ferncombe section.window-content table th,
.adventure-importer table th,
.ferncombe section.window-content table td,
.adventure-importer table td {
  padding: 0.5rem;
}
.ferncombe section.window-content a.approval-change,
.adventure-importer a.approval-change {
  display: block;
  padding: 0.5rem 0;
  font-family: var(--body-font);
  text-align: center;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-border-light-secondary);
  border-radius: 3px;
}
.ferncombe section.window-content a.approval-change::before,
.adventure-importer a.approval-change::before {
  font-family: "Font Awesome 6 Pro";
  content: '\f516';
  margin: 0 0.25rem;
}
/** General Styles */
.ferncombe {
  /** Fix Journal Width */
  /** Pages TOC Section */
  /** Add additional spacing around the outside */
  /** Journal Sheet Headers */
  /** Journal Text Content */
  /* Restyle Content Links */
}
.ferncombe.journal-entry {
  max-width: 960px;
  min-width: 960px;
}
.ferncombe .pages-list .directory-section {
  border-top: 1px solid var(--color-border-dark);
  border-bottom: 1px solid var(--color-border-dark-3);
}
.ferncombe .pages-list .directory-section:first-child {
  border-top: none;
}
.ferncombe .pages-list .section-header {
  margin: 0.5rem 0;
  text-align: center;
  border: none;
}
.ferncombe .journal-entry-pages {
  margin-top: 1rem;
}
.ferncombe .journal-entry-pages .scrollable {
  padding-right: 1rem;
}
.ferncombe .journal-entry-pages a {
  color: black;
  font-family: var(--body-i);
}
.ferncombe .journal-entry-pages a:hover {
  color: var(--manor-red-light);
}
.ferncombe .journal-page-header {
  width: 100%;
  margin: 0 auto 1rem;
  background: url(ui/top-left.webp) no-repeat left, url(ui/top-right.webp) no-repeat right;
  background-size: 49%;
  background-position: 0 0, 100% 0;
}
.ferncombe .journal-page-header h1,
.ferncombe .journal-page-header h2 {
  text-align: center;
  line-height: 50px;
  padding-top: 20px;
  border-bottom: 3px solid var(--manor-red-dark);
  border-radius: 0 0 100px 100px / 0px 10px 75px 75px;
}
.ferncombe .journal-page-content {
  font-family: var(--body-font);
  font-size: var(--body-size);
  line-height: 1rem;
  text-align: justify;
}
.ferncombe a.content-link,
.ferncombe a.inline-roll {
  border: none;
  background: unset;
  padding: 0 4px;
  border-bottom: 1px solid var(--color-border-dark-tertiary);
  border-radius: 2px;
  white-space: nowrap;
  word-break: break-all;
  font-family: var(--body-i);
}
.ferncombe.journal-page-content.handwritten > p {
  font-family: "Great Vibes", serif;
  font-size: var(--font-size-20);
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}
.ferncombe.journal-page-content.handwritten .underline {
  border-bottom: 2px solid black;
}
.ferncombe.journal-page-content.handwritten .annotation {
  font-family: inherit;
  font-size: inherit;
  font-style: italic;
}
.ferncombe section.window-content {
  /* Figures */
  /** Two-Column Layout */
  /* Override Visibility of Journal Title Input */
  /* Asides */
  /* Box Text Variants */
}
.ferncombe section.window-content figure img {
  border: none;
}
.ferncombe section.window-content figure.landscape {
  margin: 1rem;
}
.ferncombe section.window-content figure.portrait {
  width: 200px;
}
.ferncombe section.window-content figure.portrait.right {
  float: right;
  margin: 0 0 0 1rem;
}
.ferncombe section.window-content .columns figure.portrait {
  flex: 0 0 200px;
  margin: 0 0 0 1rem;
}
.ferncombe section.window-content form.journal-header {
  display: none;
}
.ferncombe section.window-content .box-text {
  margin: 1rem;
}
.ferncombe section.window-content .box-text.narrative {
  font-family: var(--body-i);
  padding: 0 2rem;
  background: linear-gradient(90deg, transparent, rgba(175, 128, 39, 0.1) 5% 95%, transparent);
  border-radius: 1.5rem;
  margin: 1rem;
  border-top: 2px solid rgba(64, 64, 64, 0.8);
  border-bottom: 2px solid rgba(64, 64, 64, 0.8);
}
/**
Development rules
TODO: Everything below this point to be deleted before release
 */
