.ferncombe.journal-sheet,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv {
  /* ----------------------------------------- */
  /*  Typography                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Blocks                                   */
  /* ----------------------------------------- */
}
.ferncombe.journal-sheet p,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv p {
  margin: 1rem 0;
  font-family: var(--body-font);
}
.ferncombe.journal-sheet p.important,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv p.important {
  text-align: center;
  font-weight: bold;
  font-size: var(--body-size);
  line-height: 1rem;
}
.ferncombe.journal-sheet h1,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv h1 {
  font-family: var(--h1-font);
  font-size: var(--h1-size);
}
.ferncombe.journal-sheet h2,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv h2 {
  font-size: var(--h2-size);
  font-family: var(--h2-font);
  font-weight: bold;
}
.ferncombe.journal-sheet h2::before,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv h2::before {
  border-top: 6px double ;
}
.ferncombe.journal-sheet h2::after,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv h2::after {
  border-top: 6px double;
}
.ferncombe.journal-sheet h3,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv h3 {
  font-size: var(--h3-size);
  font-family: var(--h3-font);
  font-weight: bold;
  border: unset;
}
.ferncombe.journal-sheet h3::before,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv h3::before {
  border-top: 4px dotted;
}
.ferncombe.journal-sheet h3::after,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv h3::after {
  border-top: 4px dotted;
}
.ferncombe.journal-sheet h4:not(.window-title),
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv h4:not(.window-title) {
  font-size: var(--h3-size);
  font-family: var(--h1-font);
  border: unset;
}
.ferncombe.journal-sheet section.journal-page-content h2,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content h2,
.ferncombe.journal-sheet section.adventure-overview h2,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.adventure-overview h2,
.ferncombe.journal-sheet section.adventure-contents h2,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.adventure-contents h2,
.ferncombe.journal-sheet section.journal-page-content h3,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content h3,
.ferncombe.journal-sheet section.adventure-overview h3,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.adventure-overview h3,
.ferncombe.journal-sheet section.adventure-contents h3,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.adventure-contents h3 {
  border: none;
  display: flex;
  clear: both;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  color: var(--manor-red-dark);
}
.ferncombe.journal-sheet section.journal-page-content h2::before,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content h2::before,
.ferncombe.journal-sheet section.adventure-overview h2::before,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.adventure-overview h2::before,
.ferncombe.journal-sheet section.adventure-contents h2::before,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.adventure-contents h2::before,
.ferncombe.journal-sheet section.journal-page-content h3::before,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content h3::before,
.ferncombe.journal-sheet section.adventure-overview h3::before,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.adventure-overview h3::before,
.ferncombe.journal-sheet section.adventure-contents h3::before,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.adventure-contents h3::before {
  content: "";
  width: 50%;
  margin-right: 1rem;
  border-color: var(--manor-red-dark);
}
.ferncombe.journal-sheet section.journal-page-content h2::after,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content h2::after,
.ferncombe.journal-sheet section.adventure-overview h2::after,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.adventure-overview h2::after,
.ferncombe.journal-sheet section.adventure-contents h2::after,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.adventure-contents h2::after,
.ferncombe.journal-sheet section.journal-page-content h3::after,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content h3::after,
.ferncombe.journal-sheet section.adventure-overview h3::after,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.adventure-overview h3::after,
.ferncombe.journal-sheet section.adventure-contents h3::after,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.adventure-contents h3::after {
  content: "";
  width: 50%;
  margin-left: 1rem;
  border-color: var(--manor-red-dark);
}
.ferncombe.journal-sheet .journal-page-header,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv .journal-page-header,
.ferncombe.journal-sheet .adventure-header,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv .adventure-header {
  width: 100%;
  margin: 0 auto 1rem;
  background: url(ui/top-left.webp) no-repeat left, url(ui/top-right.webp) no-repeat right;
  background-size: 49%;
  background-position: 0 0, 100% 0;
}
.ferncombe.journal-sheet .journal-page-header h1,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv .journal-page-header h1,
.ferncombe.journal-sheet .adventure-header h1,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv .adventure-header h1,
.ferncombe.journal-sheet .journal-page-header h2,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv .journal-page-header h2,
.ferncombe.journal-sheet .adventure-header h2,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv .adventure-header h2,
.ferncombe.journal-sheet .journal-page-header h3,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv .journal-page-header h3,
.ferncombe.journal-sheet .adventure-header h3,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv .adventure-header h3 {
  text-align: center;
  line-height: 50px;
  padding-top: 20px;
  border-bottom: 3px solid var(--manor-red-dark);
  border-radius: 0 0 100px 100px / 0px 10px 75px 75px;
}
.ferncombe.journal-sheet section.journal-page-content,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content {
  /** Tables */
  /** Two-Column Layout */
  /* Figures */
  /* Box Text Variants */
}
.ferncombe.journal-sheet section.journal-page-content h2,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content h2 {
  margin-top: 2rem;
}
.ferncombe.journal-sheet section.journal-page-content h3,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content h3 {
  margin-top: 1rem;
}
.ferncombe.journal-sheet section.journal-page-content table,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content table {
  table-layout: fixed;
  margin: auto;
  width: 80%;
}
.ferncombe.journal-sheet section.journal-page-content table caption,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content table caption {
  padding-bottom: 0.5rem;
  font-family: var(--h1-font);
  font-size: var(--h4-size);
}
.ferncombe.journal-sheet section.journal-page-content table th,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content table th,
.ferncombe.journal-sheet section.journal-page-content table td,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content table td {
  padding: 0.5rem 0;
  text-align: center;
  width: 30%;
}
.ferncombe.journal-sheet section.journal-page-content .columns figure.portrait,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content .columns figure.portrait {
  flex: 0 0 200px;
  margin: 0 0 0 1rem;
}
.ferncombe.journal-sheet section.journal-page-content figure img,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content figure img {
  border: none;
}
.ferncombe.journal-sheet section.journal-page-content figure.landscape,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content figure.landscape {
  margin: 1rem;
}
.ferncombe.journal-sheet section.journal-page-content figure.portrait,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content figure.portrait {
  width: 200px;
}
.ferncombe.journal-sheet section.journal-page-content figure.portrait.right,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content figure.portrait.right {
  float: right;
  margin: 0 0 0 1rem;
}
.ferncombe.journal-sheet section.journal-page-content .box-text,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content .box-text {
  margin: 1rem;
}
.ferncombe.journal-sheet section.journal-page-content .box-text.narrative,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content .box-text.narrative {
  font-family: var(--body-i);
  padding: 0 2rem;
  background: linear-gradient(90deg, transparent, rgba(175, 128, 39, 0.1) 5% 95%, transparent);
  border-radius: 1.5rem;
  margin: 1rem;
  border-top: 2px solid rgba(64, 64, 64, 0.8);
  border-bottom: 2px solid rgba(64, 64, 64, 0.8);
}
.ferncombe.journal-sheet section.journal-page-content .secret button,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content .secret button {
  float: left;
  position: absolute;
  line-height: 20px;
  margin-top: 0.75rem;
}
.ferncombe.journal-sheet section.journal-page-content .secret h4,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content .secret h4 {
  text-align: center;
}
.ferncombe.journal-sheet section.journal-page-content dl,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  line-height: 1rem;
  width: 80%;
  margin: auto;
}
.ferncombe.journal-sheet section.journal-page-content dl p,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content dl p {
  margin: 0.25rem 0.5rem;
}
.ferncombe.journal-sheet section.journal-page-content dl dt,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content dl dt {
  flex-basis: 50%;
}
.ferncombe.journal-sheet section.journal-page-content dl dd,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content dl dd {
  flex-basis: 50%;
  text-align: right;
}
.ferncombe.journal-sheet section.journal-page-content dl dt:nth-of-type(odd),
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content dl dt:nth-of-type(odd),
.ferncombe.journal-sheet section.journal-page-content dl dd:nth-of-type(odd),
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content dl dd:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.ferncombe.journal-sheet section.journal-page-content dl > p,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv section.journal-page-content dl > p {
  flex-basis: 100%;
  margin: 0.5rem;
  text-align: center;
}
/* ----------------------------------------- */
/*  Variable Definitions                     */
/* ----------------------------------------- */
.ferncombe,
#AdventureImporter-Compendium-ferncombe-Ferncombe-3SLlEPjBKIvmVqsv {
  --body-font: "Sabon LT", sans-serif;
  --body-b: "Sabon LT Bold", sans-serif;
  --body-i: "Sabon LT Italic", sans-serif;
  --h1-font: "Imprint Shadow MT", sans-serif;
  --h2-font: "Felix Titling", sans-serif;
  --h3-font: "Felix Titling", sans-serif;
  --h4-font: "Felix Titling", sans-serif;
  --body-size: var(--font-size-14);
  --h1-size: var(--font-size-28);
  --h2-size: var(--font-size-20);
  --h3-size: var(--font-size-20);
  --h4-size: var(--font-size-18);
  --color-text-dark-primary: #000000;
  --manor-red-light: rgba(160, 47, 57, 0.8);
  --manor-red-dark: rgba(80, 44, 42, 0.8);
}
/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */
@font-face {
  font-family: 'Felix Titling';
  src: url('../styles/fonts/felix-titling.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Imprint Shadow MT';
  src: url('../styles/fonts/imprint-shadow-mt.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Sabon LT";
  src: url("../styles/fonts/sabon-lt-std.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Sabon LT Bold";
  src: url("../styles/fonts/sabon-lt-std.woff2") format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Sabon LT Italic";
  src: url("../styles/fonts/sabon-lt-std-italic.woff2") format('woff2');
  font-style: italic;
}
@font-face {
  font-family: "Great Vibes";
  src: url("../styles/fonts/great-vibes-regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Adine Kirnberg";
  src: url("../styles/fonts/adine-kirnberg.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}
.ferncombe {
  /* ----------------------------------------- */
  /*  General                                  */
  /* ----------------------------------------- */
  /** Fix Journal Width */
  /* ----------------------------------------- */
  /*  ToC                                      */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Journal Contents                         */
  /* ----------------------------------------- */
  /* Restyle Content Links */
}
.ferncombe.journal-entry {
  max-width: 960px;
  min-width: 960px;
}
.ferncombe form.journal-header {
  display: none;
}
.ferncombe aside.sidebar.directory ol.directory-list.scrollable li.directory-item {
  font-family: var(--body-font);
  border: unset;
}
.ferncombe aside.sidebar.directory ol.directory-list.scrollable li.directory-item.active span.page-number::after {
  content: '⮚';
  visibility: visible;
}
.ferncombe aside.sidebar.directory ol.directory-list.scrollable li.directory-item span.page-number {
  visibility: hidden;
}
.ferncombe aside.sidebar.directory ol.directory-list.scrollable li.directory-item ol.headings {
  display: none;
}
.ferncombe aside.sidebar.directory ol.directory-list.scrollable li.directory-item:not(:first-child).level1 {
  border-top: 2px solid;
  border-image: linear-gradient(to right, transparent 10%, #ffffff70, transparent 90%) 1;
  padding-top: 6px;
  margin-top: 6px;
}
.ferncombe .journal-entry-pages {
  margin-top: 1rem;
}
.ferncombe .journal-entry-pages .scrollable {
  padding-right: 1rem;
}
.ferncombe .journal-entry-pages .scrollable .journal-page-content {
  font-family: var(--body-font);
  font-size: var(--body-size);
  line-height: 1rem;
  text-align: justify;
}
.ferncombe .journal-entry-pages a {
  color: black;
  font-family: var(--body-i);
}
.ferncombe .journal-entry-pages a:hover {
  color: var(--manor-red-light);
}
.ferncombe a.content-link,
.ferncombe a.inline-roll {
  border: none;
  background: unset;
  padding: 0 4px;
  border-bottom: 1px solid var(--color-border-dark-tertiary);
  border-radius: 2px;
  white-space: nowrap;
  word-break: break-all;
  font-family: var(--body-i);
}
